server:
  port: 8090
dubbo:
  application:
    name: demo-consumer
    qos-accept-foreign-ip: false   #禁用在线运维命令
    qos-enable: false               #禁用在线运维命令
    logger: slf4j
  registry:
    address: 192.168.0.202:2181
    protocol: zookeeper
  consumer:
    check: false                     #设置false不然只能先启动提供者
    version: 7.0.0
    timeout: 2000
    retries: 2
spring:
  gson:
    date-format: yyyy-MM-dd HH:ss:mm